{% extends 'nav.html' %}
{% block nav %}
{% load static %}

{% if messages %}
    {% for i in messages %}
        {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}  
        <div class="alert alert_success"> <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button> <strong>{{i}}</strong> </div>

        {% endif %}
        {% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert_error"> <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button> <strong>{{i}}</strong> </div>

        {% endif %}
        {% if i.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <div class="alert alert_info"> <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button> <strong>{{i}}</strong> </div>

        {% endif %}
        {% if i.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <div class="alert alert_warning"> <button aria-hidden="true" data-dismiss="alert" class="close" type="button">&times;</button> <strong>{{i}}</strong> </div>

        {% endif %}
    {% endfor %}
{% endif %}

<link rel="stylesheet" type="text/css" href="{% static 'css/userpage.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/quantity.css' %}" />
<link rel="stylesheet"  href="{% static 'js/quantity.js' %}" />

<div class="row">
      {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{ product.mobile.Mobile_pic.url }}" width="400px" height=>
            <div class="box-element product">
                <h3><strong>{{ product.mobile.Name }}</strong></h3>
                <h6><strong>RAM:{{ product.mobile.RAM }}GB</strong></h6>
                <h6><strong>ROM:{{ product.mobile.ROM }} GB</strong></h6>
                <h6><strong>Processor:{{ product.mobile.Processer }}</strong></h6>
                <h4 style="display: inline-block; float: right"><strong>₹{{ product.mobile.Prize|floatformat:2 }}</strong></h4>
                <h6><strong>Camera:{{ product.mobile.Camera }}</strong></h6>
                <h6><strong>Battery:{{ product.mobile.Battery }} Mah</strong></h6>
                <a href="{% url 'DelCart' product.id %}">
                    <button class="btn col-sm-5 col-sm-offset-1 btn-lg" style="background-color:#ff0000; color:#fff;font-size:1em; border-radius:12px;"><i class="glyphicon glyphicon-remove" style="font-size:1.2em;"></i>  REMOVE FROM CART</button>
                </a>
                <a href="{% url 'Buy' product.mobile.id %}" >
                <button class="btn col-sm-4 col-sm-offset-1 btn-lg " style="background-color:#fb641b; color:#fff;font-size:1em;"><i class="glyphicon glyphicon-tag" style="font-size:1.2em;"> </i>  BUY NOW</button>
                </a>
              
            </div>
        </div>
      {% endfor product in products %}
    </div>

{% endblock nav %}