{% extends 'nav.html' %}
{% block nav %}
{% load static %}

{% if messages %}
    {% for i in messages %}
        {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}  
        <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{i}}
        </div>
        {% endif %}
        {% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{i}}
        </div>
        {% endif %}
        {% if i.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{i}}
        </div>
        {% endif %}
        {% if i.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{i}}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}


<link rel="stylesheet" type="text/css" href="{% static 'css/userpage.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/cmt.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row">
    {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{ product.Mobile_pic.url }}" width="400px" height="300px">
            <div class="box-element product">
                <h3><strong>{{ product.Name }}</strong></h3>
                <h6><strong>RAM:{{ product.RAM }}GB</strong></h6>
                <h6><strong>ROM:{{ product.ROM }} GB</strong></h6>
                <h6><strong>Processor:{{ product.Processer }}</strong></h6>
                <h4 style="display: inline-block; float: right"><strong>₹{{ product.Prize|floatformat:2 }}</strong></h4>
                <h6><strong>Camera:{{ product.Camera }}</strong></h6>
                <h6><strong>Battery:{{ product.Battery }} Mah</strong></h6>

                    <div class="d-flex justify-content-center row">
                        <div class="col-md-8">
                            <div class="d-flex flex-column comment-section" id="myGroup">
                                <i class="fa fa-commenting-o"></i><span class="ml-1" data-toggle="collapse" data-target="#{{product.id}}" aria-expanded="false">Reviews</span>
                                <div class="collapse" id="{{product.id}}">
                                    {% for i in review %}
                                        {% if i.product.id == product.id %}
                                            <div class="comment">
                                
                                                {{ i.user.first_name }}:{{ i.comment }} 
                                
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                    <form method="post" action="{% url 'AddRev' product.id %}">
                                        {% csrf_token %}

                                        <div class="bg-white p-2">
                                            <div class="d-flex flex-row fs-12">
                                                <div class="like p-2 cursor action-collapse" data-toggle="collapse" aria-expanded="true" aria-controls="collapse-1" href="#p{{product.id}}"><i class="fa fa-commenting-o"></i><span class="ml-1"> ADD Review</span></div>
                                            </div>
                                        </div>
                                        <div id="p{{product.id}}" class="bg-light p-2 collapse" data-parent="#myGroup">
                                            <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="{{user.image.url}}" width="40"><textarea class="form-control ml-1 shadow-none textarea" name="{{form.comment.html_name}}"width="100%"></textarea></div>
                                            <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" >Post Review</button></a><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                        </form>
                <a href="{% url 'AddCart' product.id %}" >
                  <button class="btn  col-sm-4 col-sm-offset-1 btn-lg" style="background-color:#ff9f00; color:#fff;font-size:1em;"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;ADD TO CART</button>
                </a>
                <a href="{% url 'Buy' product.id %}" >
                <button class="btn col-sm-4 col-sm-offset-1 btn-lg" style="background-color:#fb641b; color:#fff;font-size:1em;"><i class="fa fa-bolt" aria-hidden="true" style="font-size:1.2em;"></i> BUY NOW</button>
                </a>
            </div>
        </div>
    {% endfor product in products %}
</div>


{% endblock nav %}