{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>


    {% if messages %}
    {% for i in messages %}
        {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}  
        <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{i}}
        </div>
        {% endif %}
        {% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{i}}
        </div>
        {% endif %}
        {% if i.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{i}}
        </div>
        {% endif %}
        {% if i.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{i}}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="container py-5">
  <div class="row">
  <div class="col-md-12">
              
    <div class="row">
                  
      <div class="col-md-7 offset-md-1">
          <span class="anchor" id="formChangePassword"></span>
   
            <div class="col-md-10 offset-md-3">
              <span class="anchor" id="formLogin"></span>

        <!-- form card login with validation feedback -->
                      <div class="card card-outline-secondary">
                          <div class="card-header text-center">
                              <h3 class="mb-0 float-left">Login</h3>
                          </div>
                          <div class="card-body">
                              <form class="form" role="form" autocomplete="off" id="loginForm" novalidate="" method="POST">
                                {% csrf_token %}
                                  <div class="form-group">
                                      <label for="username">Username</label>
                                      <input type="text" class="form-control" name="{{ form.username.html_name }}"  required="" >
                                      <div class="invalid-feedback">Please enter your username or email</div>
                                  </div>
                                  <div class="form-group">
                                      <label>Password</label>
                                      <input type="password" class="form-control"  required="" name="{{ form.password.html_name }}" autocomplete="new-password">
                                      <div class="invalid-feedback">Please enter a password</div>
                                  </div>
                                  
                                  <div class="text-center">
                                  <button type="submit" class="btn btn-info btn-lg text-center" >Login</button>
                                  </div>

                                  <div class=" text-center">
                                    <span ><a href="{% url 'Reg' %}" >Don't have an account? Sign up</span></a>
                                  </div>
                          
                              </form>
                          </div>
                          <!--/card-body-->
                      </div>
                      <!-- /form card login -->
                    </div>
    </div>
</div>
  </body>
</html>

